.page {
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  max-height: 650px;
  padding: 0 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: #262626 solid 1px;
}

.titleWrap {
  margin-top: 86px;
  font-size: 36px;
  font-weight: 700;
  color: #262626;
  text-align: center;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitleId {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.inputTitlePw {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
  margin-top: 26px;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.inputWrap:focus-within {
  border: 1px solid #262626;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 700;
  background-color: #262626;
  border-radius: 64px;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

.navSignupWrap {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navSignupWrap:hover {
  cursor: pointer;
}

.navSignupText {
  color: #949494fa;
  text-decoration: underline;
}
